//-
	@file Demo page for the nav module
	@author Phil Hauser phil.hsr@gmail.com
	@extends page_templates/_factory.jade
	@requires mixins/nav/[MODFILE]

//- Page dependencies
include _nav

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "nav"
	- page.title = "nav"
	- page.mainScript = "nav.js"


//- Content block
block content

	+nav({visible: true})
