//-
	@file Demo page for the details_lightbox module
	@author Phil Hauser phil.hsr@gmail.com
	@extends page_templates/_factory.jade
	@requires mixins/details_lightbox/[MODFILE]

//- Page dependencies
include _details_lightbox

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "details_lightbox"
	- page.title = "details_lightbox"
	- page.mainScript = "details_lightbox.js"


//- Content block
block content

	+details_lightbox()
