//-
	@file Defines a details_lightbox mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies
include ../../atoms/_button/_button


//- Definition
mixin details_lightbox()

	.lightbox-container
		section.details
			img(src="/img/dots.png")
			.order-details
				h4.title 
				p.description 

				.commerce
					p.limited 
						| 200
						span /
						| 200
					form.gender(action='')
						.male
							input#male(type='radio', name='sex', value='male')
							label(for='male') Male
						.female
							input#female(type='radio', name='sex', value='female')
							label(for='female') Female


					select.size
						option s 
						option m 
						option l 
						option xl
						option xxl

					span.price

					p.postage All items are sent with Express delivery and posted within 3 working days. 

					.controls
						+button("cancel", "cancel")
						+button("BUY")