//-
	@file Demo page for the item_card module
	@author Phil Hauser phil.hsr@gmail.com
	@extends page_templates/_factory.jade
	@requires mixins/item_card/[MODFILE]

//- Page dependencies
include _item_card

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "item_card"
	- page.title = "item_card"
	- page.mainScript = "item_card.js"


//- Content block
block content

	+item_card({img: "/img/dots.png", alt: "dots", title: "nebula t-shirt title", price: "£19.99"})
