//-
	@file Page instance: index 
	@extends _page_default/_page_default

//- Page dependencies
include ../../atoms/_logo/_logo
include ../../atoms/_arrow/_arrow
include ../../molecules/_item_card/_item_card
include ../../molecules/_parallax_header/_parallax_header
include ../../organisms/_nav/_nav
include ../../organisms/_details_lightbox/_details_lightbox


//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "index"
	- page.title = "index"
	- page.mainScript = "index.js"


//- Content block
block content
	+nav({visible: false})

	+parallax_header();

	.content-container
		+item_card({
			img: "/img/dots.png", 
			alt: "dots", 
			title: "nebula t-shirt title", 
			description: "Lorem ipsum Incididunt exercitation deserunt elit lab\
			orum fugiat deserunt ut laborum voluptate reprehenderit esse in \
			cillum sint qui deserunt labore Ut enim anim commodo deserunt.", 
			price: "24.99"
		});
		+item_card({
			img: "/img/dots.png", 
			alt: "dots", 
			title: "nebula t-shirt title", 
			description: "Lorem ipsum Ad in elit est irure tempor tempor incidi\
			dunt tempor fugiat occaecat nisi dolor Excepteur ut pariatur sed\
			 aliquip consectetur commodo nisi aliqua occaecat quis.", 
			price: "24.99"
		});
		+item_card({
			img: "/img/dots.png", 
			alt: "dots", 
			title: "nebula t-shirt title", 
			description: "Lorem ipsum Nulla proident nisi proident mollit dolor\
			 sint magna velit fugiat labore nisi sed laborum minim voluptate\
			  velit officia sit ut ut nostrud nisi ex do consequat elit Duis in eu fugiat veniam ut culpa.", 
			price: "24.99"
		});
		+item_card({
			img: "/img/dots.png", 
			alt: "dots", 
			title: "nebula t-shirt title", 
			description: "Lorem ipsum Ex aute consectetur sint tempor enim qui \
			pariatur proident mollit eiusmod consequat ut sit exercitation e\
			sse qui aliquip Excepteur laborum dolor magna esse dolor commodo cillum ea officia.", 
			price: "24.99"
		});
		+item_card({
			img: "/img/dots.png", 
			alt: "dots", 
			title: "nebula t-shirt title", 
			description: "Lorem ipsum Reprehenderit nisi irure pariatur laboris\
			 tempor ullamco occaecat adipisicing occaecat voluptate anim do \
			 Ut sit Ut dolor qui ut sed voluptate.", 
			price: "24.99"
		});

		+details_lightbox();