//-
	@file Defines a parallax_header mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies
include ../../atoms/_logo/_logo
include ../../atoms/_arrow/_arrow

//- Definition
mixin parallax_header()

	header
		#stars
		#stars2
		#stars3
		#title
			+logo();
			+arrow("white");
