//-
	@file Demo page for the button module
	@author Phil Hauser phil.hsr@gmail.com
	@extends page_templates/_factory.jade
	@requires mixins/button/[MODFILE]

//- Page dependencies
include _button

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "button"
	- page.title = "button"
	- page.mainScript = "button.js"


//- Content block
block content

	+button()
